@model OEWebApplicationApp.Models.TblCgyoeModel

@{
    ViewData["Title"] = "Delete Request";
}
<div class="container-fluid boxShadow bg-danger">
    <div class="row">
        <div class="col-4 "><h3 class=" text-white">Are you sure you want to DELETE @Html.DisplayFor(model => model.RequestId)</h3></div>
        <a asp-action="Index" class="text-white"><h4>Back to Request</h4></a>
        <div class="col-4 "></div>
        <div class="col-4"></div>

    </div>
</div>
@if (TempData["Info Message"] != null)
{
    <hr />
    <strong>@TempData["Info Message"]</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="close" onclick="close"><span>&times;</span></button>

}
<hr />
<div class="container-fluid ">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 boxShadow">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RequestId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RequestId)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Vendor)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Vendor)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.VendorName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.VendorName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.RequestedBy)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.RequestedBy)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Glaccount)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Glaccount)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AutoApproveThreshold)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AutoApproveThreshold)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Gstamount)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Gstamount)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TotalAmount)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Gstincluded)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Gstincluded)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Budgeted)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Budgeted)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AutoApproved)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AutoApproved)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Request)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Request)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PurchaseDate)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ApprovedBy)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ApprovedBy)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ApprovedDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ApprovedDate)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Reason)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Reason)
                </dd>
@*                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Attachment)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Attachment)
                </dd>*@
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Timestamp)
                </dd>
            </dl>
        </div>
        <div class="col-2">
    </div>
</div>
<div class="container-flex m-2">
    <div class="row">
        <div class="col-4 ">
            <form asp-action="Delete" asp-antiforgery="true">
                <input type="hidden" asp-for="RequestId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>

    </div>
</div>