@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid boxShadow">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 align-content-center text-center">
            <h4 class="">Home Page</h4>
        </div>
        <div class="col-4"></div>
    </div>
</div>


@if (TempData["Info Message"] != null)
{
    <div class="container d-flex justify-content-center bg-info boxShadow">
        <div class="row">
            <div class="" id="top">
                <h2 class="text-black"><strong>@TempData["Info Message"]</strong></h2>
            </div>
        </div>
    </div>
    <hr />
}
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-3 border boxShadow m-2 boxHover ">
            @if (@ViewBag.ApproverBool == true && @ViewBag.RequesterBool == true)
            {
                <a class="m-4 p-2 text-center" asp-area="" asp-controller="Approval" asp-action="Index" asp-route-id="notApproved"><h5>Operating Expense Approver</h5></a>
@*                <h5 class="" id="">Requester:  @ViewBag.ApproverBool</h5>*@
                <a class="m-4 p-2 text-center" asp-area="" asp-controller="Request" asp-action="Index" asp-route-id="notApproved"><h5>Operating Expense Requester</h5></a>
@*                <h5 class="" id="">Requester:  @ViewBag.RequesterBool</h5>*@
            }
            else if (@ViewBag.ApproverBool == true && @ViewBag.RequesterBool == false)
            {
                <a class="m-4 p-2 text-center" asp-area="" asp-controller="Approval" asp-action="Index"><h5>Operating Expense Approver</h5></a>
@*                <h5 class="" id="">Requester:  @ViewBag.ApproverBool</h5>*@
            }
            else if (@ViewBag.RequesterBool == true && @ViewBag.ApproverBool == false)
            {
                <a class="m-4 p-2 text-center" asp-area="" asp-controller="Request" asp-action="Index" asp-route-id="notApproved"><h5>Operating Expense Requester</h5></a>
@*                <h5 class="" id="">Requester:  @ViewBag.RequesterBool</h5>*@
            }
        </div>
@*        <div class="col-3 border boxShadow m-2 boxHover ">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Document Manager</h5></a>
        </div>
        <div class="col-3 border boxShadow m-2 boxHover ">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Zero Dollar PO</h5></a>
        </div>*@
    </div>
</div>

@*<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-3 border boxShadow boxHover m-2">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Customer Letters</h5></a>
        </div>
        <div class="col-3 border boxShadow boxHover m-2">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Scheduling</h5></a>
        </div>
        <div class="col-3 border boxShadow boxHover m-2">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Schedule Lookup</h5></a>
        </div>
    </div>
</div>*@

@*<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-3 border boxShadow boxHover m-2">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Trade List</h5></a>
        </div>
        <div class="col-3 border boxShadow boxHover m-2">
            <a class="m-4 p-2 text-center" asp-area="" asp-controller="Home" asp-action="UnderConstruction"><h5>Vendor Reporting</h5></a>
        </div>
        <div class="col-3 border boxShadow boxHover m-2 text-center">Extra Box</div>
    </div>
</div>*@
